<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Calorie_Calculator.Properties.Settings.Сalorie_СalculatorConnectionString"
            connectionString="Data Source=DESKTOP-KFD9I43\SQLEXPRESS;Initial Catalog=Сalorie_Сalculator;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Calorie_Calculator.Properties.Settings.Сalorie_СalculatorConnectionString1"
            connectionString="Data Source=DESKTOP-KFD9I43\SQLEXPRESS;Initial Catalog=Сalorie_Сalculator;Persist Security Info=True;User ID=Vaidual;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>